`<h2>Dermatological Checklist</h2>
<table>
    <tr>
      <td>Allergy</td>
      <td><input type="checkbox" id="allergyCheckbox" name="allergy" value="checked"></td>
    </tr>
    <tr>
      <td>Boils</td>
      <td><input type="checkbox" id="boilsCheckbox" name="boils" value="checked"></td>
    </tr>
    <tr>
      <td>Insect sting/bites</td>
      <td><input type="checkbox" id="stingBitesCheckbox" name="sting_bites" value="checked"></td>
    </tr>
    <tr>
      <td>Contact Dermatitis</td>
      <td><input type="checkbox" id="contactDermatitisCheckbox" name="contact_dermatitis" value="checked"></td>
    </tr>
    <tr>
      <td>Psoriasis</td>
      <td><input type="checkbox" id="psoriasisCheckbox" name="psoriasis" value="checked"></td>
    </tr>
    <tr>
      <td>Eczema</td>
      <td><input type="checkbox" id="eczemaCheckbox" name="eczema" value="checked"></td>
    </tr>
    <tr>
      <td>Others</td>
      <td>
        <input type="checkbox" id="othersCheckbox" name="others" value="checked">
        <input type="text" id="othersTextDermatological" placeholder="Please specify">
      </td>
    </tr>
  </table>
  

<h2>Musculoskeletal Checklist</h2>
<table>
    <tr>
      <td>Costochondritis</td>
      <th><input type="checkbox" id="costochondritisCheckbox" name="costochondritis" value="checked"></th>
    </tr>
    <tr>
      <td>MSS</td>
      <th><input type="checkbox" id="mssCheckbox" name="mss" value="checked"></th>
    </tr>
    <tr>
      <td>Others:</td>
      <th>
        <input type="checkbox" id="othersCheckboxMusculoskeletal" name="others" value="checked">
        <input type="text" id="othersTextMusculoskeletal" placeholder="Please specify">
      </th>
    </tr>
  </table>
  
<h2>Head & Neck Checklist</h2>
  <table>
    <thead>
        <tr>
            <th>Head & Neck</th>
            <th>Check</th>
          </tr>
    </thead>
    <tbody>
        <tr>
            <td>Conjunctivitis</td>
            <td><input type="checkbox" id="conjunctivitisCheckbox" name="conjunctivitis" value="checked"></td>
          </tr>
          <tr>
            <td>Epistaxis</td>
            <td><input type="checkbox" id="epistaxisCheckbox" name="epistaxis" value="checked"></td>
          </tr>
          <tr>
            <td>Eye irritation</td>
            <td><input type="checkbox" id="eyeIrritationCheckbox" name="eye_irritation" value="checked"></td>
          </tr>
          <tr>
            <td>Stomatitis</td>
            <td><input type="checkbox" id="stomatitisCheckbox" name="stomatitis" value="checked"></td>
          </tr>
          <tr>
            <td>Otitis externa/media</td>
            <td><input type="checkbox" id="otitisExternMediaCheckbox" name="otitis_externa_media" value="checked"></td>
          </tr>
          <tr>
            <td>Stye</td>
            <td><input type="checkbox" id="styeCheckbox" name="stye" value="checked"></td>
          </tr>
          <tr>
            <td>Throat irritation</td>
            <td><input type="checkbox" id="throatIrritationCheckbox" name="throat_irritation" value="checked"></td>
          </tr>
          <tr>
            <td>Others:</td>
            <th>
                <input type="checkbox" id="othersCheckboxHeadNeck" name="others" value="checked">
            </th>
            <th>
                <input type="text" id="othersTextHeadNeck" placeholder="Please specify">
            </th>
        </tr>
    </tbody>
  </table>
  
<h2>Respiratory Checklist</h2>
<table>
  <tr>
    <td>Asthma</td>
    <td><input type="checkbox" id="asthma" name="asthma"></td>
  </tr>
  <tr>
    <td>ATP</td>
    <td><input type="checkbox" id="atp" name="atp"></td>
  </tr>
  <tr>
    <td>URTI</td>
    <td><input type="checkbox" id="urti" name="urti"></td>
  </tr>
  <tr>
    <td>Covid 19 Suspect</td>
    <td><input type="checkbox" id="covid_19_suspect" name="covid_19_suspect"></td>
  </tr>
  <tr>
    <td>Others: DOB</td>
    <td>
      <input type="checkbox" id="others_dob" name="others_dob">
      <input type="text" id="othersTextRespiratory" placeholder="Please specify">
    </td>
  </tr>
</table>

<h2>Cardiovascular Checklist</h2>
<table>
    </tr>
      <td>Hypertension</td>
      <th><input type="checkbox" id="hypertension" name="hypertension"></th>
    </tr>
      <td>Others: Tremor</td>
      <th><input type="checkbox" id="tremor" name="tremor"></th>
      <th><input type="text" id="othersTextCardiovascular" placeholder="Please specify"></th>
    </tr>
  </table>
  

<h2>Gastrointestinal Checklist</h2>
<tbody>
    <table>
        <tr>
          <td>APD/GERD</td>
          <td><input type="checkbox" id="apd_gerd" name="apd_gerd"></td>
        </tr>
        <tr>
          <td>AGE</td>
          <td><input type="checkbox" id="age" name="age"></td>
        </tr>
        <tr>
          <td>Gastritis</td>
          <td><input type="checkbox" id="gastritis" name="gastritis"></td>
        </tr>
        <tr>
          <td>Others:</td>
          <td>
            <input type="checkbox" id="othersGastrointestinal" name="others">
            <input type="text" id="othersTextGastrointestinal" placeholder="Please specify">
          </td>
        </tr>
      </table>
</tbody>


<h2>Genitourinary Checklist</h2>

<table>
  <tr>
    <td>Dysmenorrhea</td>
    <th><input type="checkbox" id="dysmenorrhea" name="dysmenorrhea"></th>
  </tr>
  <tr>
    <td>PMS</td>
    <th><input type="checkbox" id="pms" name="pms"></th>
  </tr>
  <tr>
    <td>UTI</td>
    <th><input type="checkbox" id="uti" name="uti"></th>
  </tr>
  <tr>
    <td>Others:</td>
    <th>
      <input type="checkbox" id="othersGenitourinary" name="others">
      <input type="text" id="othersTextGenitourinary" placeholder="Please specify">
    </th>
  </tr>
</table>


<h2>Infectious Checklist</h2>
<table>
  <tr>
    <th>German Measles</th>
    <th><input type="checkbox" id="german_measles" name="german_measles"></th>
  </tr>
  <tr>
    <th>Dengue fever</th>
    <th><input type="checkbox" id="dengue_fever" name="dengue_fever"></th>
  </tr>
  <tr>
    <th>Chicken pox</th>
    <th><input type="checkbox" id="chicken_pox" name="chicken_pox"></th>
  </tr>
  <tr>
    <th>Covid 19 Suspect</th>
    <th><input type="checkbox" id="covid19_suspect" name="covid19_suspect"></th>
  </tr>
  <tr>
    <th>Covid 19 Confirmed</th>
    <th><input type="checkbox" id="covid19_confirmed" name="covid19_confirmed"></th>
  </tr>
  <tr>
    <th>Herpes Zoster/Shingles</th>
    <th><input type="checkbox" id="herpes_zoster_shingles" name="herpes_zoster_shingles"></th>
  </tr>
  <tr>
    <th>SVI</th>
    <th><input type="checkbox" id="svi" name="svi"></th>
  </tr>
  <tr>
    <th>Others:</th>
    <th>
      <input type="checkbox" id="othersInfectious" name="others">
      <input type="text" id="othersTextInfectious" placeholder="Please specify">
    </th>
  </tr>
</table>



<h2>Neurology Checklist</h2>
<table>
    <tbody>
        <tr>
            <td>BPV</td>
            <th><input type="checkbox" id="bpv" name="bpv"></th>
          </tr>
          <tr>
            <td>NCA</td>
            <th><input type="checkbox" id="nca" name="nca"></th>
          </tr>
          <tr>
            <td>Migraine/Headache</td>
            <th><input type="checkbox" id="migraine_headache" name="migraine_headache"></th>
          </tr>
          <tr>
            <td>Others:</td>
            <th>
              <input type="checkbox" id="othersNeurology" name="others">
            </th>
            <th>
              <input type="text" id="othersTextNeurology" placeholder="Please specify">
            </th>
          </tr>
    </tbody>
</table>


<h2>Trauma Checklist</h2>
<table>
    <tbody>
        <tr>
            <td>Fall</td>
            <th><input type="checkbox" id="fall" name="fall"></th>
          </tr>
          <tr>
            <td>Mauling</td>
            <th><input type="checkbox" id="mauling" name="mauling"></th>
          </tr>
          <tr>
            <td>Soft tissue contusion</td>
            <th><input type="checkbox" id="soft_tissue_contusion" name="soft_tissue_contusion"></th>
          </tr>
          <tr>
            <td>Vehicular Accident</td>
            <th><input type="checkbox" id="vehicular_accident" name="vehicular_accident"></th>
          </tr>
          <tr>
            <td>Sports Injury</td>
            <th><input type="checkbox" id="sports_injury" name="sports_injury"></th>
          </tr>
          <tr>
            <td>Others: Head Trauma</td>
            <th><input type="checkbox" id="head_trauma" name="head_trauma"></th>
            <th><input type="text" id="othersTextTrauma" placeholder="Please specify"></th>
          </tr>
    </tbody>
</table>


<h2>Miscellaneous Checklist</h2>
<table>
    <tbody>
        <tr>
            <td>Psychological Condition</td>
            <th><input type="checkbox" id="psychological_condition" name="psychological_condition"></th>
          </tr>
          <tr>
            <td>Burn</td>
            <th><input type="checkbox" id="burn" name="burn"></th>
          </tr>
          <tr>
            <td>Sprain/Strain</td>
            <th><input type="checkbox" id="sprain_strain" name="sprain_strain"></th>
          </tr>
          <tr>
            <td>Wound dressing</td>
            <th><input type="checkbox" id="wound_dressing" name="wound_dressing"></th>
          </tr>
          <tr>
            <td>Cat/Dog (Bite/Scratch)</td>
            <th><input type="checkbox" id="bite_scratch" name="bite_scratch"></th>
          </tr>
          <tr>
            <td>Issuance of Med. Cert.</td>
            <th><input type="checkbox" id="med_cert" name="med_cert"></th>
          </tr>
          <tr>
            <td>Others:</td>
            <th><input type="checkbox" id="othersMiscellaneous" name="others"></th>
            <th><input type="text" id="othersTextMiscellaneous" placeholder="Please specify"></th>
          </tr>
    </tbody>
</table>


