<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>November Diseases</title>
</head>
<body>
    <!-- Checkboxes for Diseases -->
    <label><input type="checkbox" id="checkboxAllergy" value="Allergy"> Allergy</label>
    <label><input type="checkbox" id="checkboxBoils" value="Boils"> Boils</label>
    <label><input type="checkbox" id="checkboxInsectBites" value="Insect Bites"> Insect Bites</label>
    <label><input type="checkbox" id="checkboxContactDermatitis" value="Contact Dermatitis"> Contact Dermatitis</label>
    <label><input type="checkbox" id="checkboxOthers" value="Others"> Others</label>
    <label><input type="checkbox" id="checkboxCostochondritis" value="Costochondritis"> Costochondritis</label>
    <label><input type="checkbox" id="checkboxMSS" value="MSS"> MSS</label>
    <label><input type="checkbox" id="checkboxConjunctivitis" value="Conjunctivitis"> Conjunctivitis</label>
    <label><input type="checkbox" id="checkboxEpistaxis" value="Epistaxis"> Epistaxis</label>
    <label><input type="checkbox" id="checkboxEyeIrritation" value="Eye Irritation"> Eye Irritation</label>
    <label><input type="checkbox" id="checkboxStomatitis" value="Stomatitis"> Stomatitis</label>
    

    <!-- Submit Button -->
    <button onclick="submitForm()">Submit</button>

    <img src="/files/images/delete.png" alt="" srcset="">
    <!-- Your bar chart will go here -->
    <canvas id="diseaseCountChart"></canvas>

    <script>
        
    </script>
</body>
</html>
